<table class="admin_table">
  <tr>
    <th><%= t.admin.module %></th>
    <th><%= t.admin.description %></th>
    <th><%= t.admin.registration %></th>
    <th><%= t.admin.activity %></th>
  </tr>
<% @list_of_all_helpers.each do |m, h| %>
  <tr>
    <td><%= m %></td>
    <td>
      <% if h[:module] %>
        <%= h[:module].description %>
      <% else %>
        <span class="error"><%= t.admin.absent_module %></span>
      <% end %>
    </td>
    <% if h[:model] %>
      <td><%= t.admin.registered %>
        <%= link_to t.admin.delete_registration, admin_sider_type_path(h[:model]),
              :method => :delete, :confirm => t.admin.delete_registration_confirm %>
      </td>
      <td><%= h[:model].enabled ? t.admin.enabled : t.admin.disabled %>
        <%= link_to t.admin.toggle, admin_sider_type_path(h[:model]), :method => :put %>
      </td>
    <% else %>
      <td><%= link_to t.admin.register, admin_sider_types_path(:sider_helper_module => m),
              :method => :post %></td>
      <td><%= t.admin.register_please %></td>
    <% end %>
  </tr>
<% end %>
</table>