<%= form_for [:admin, @sider] do |f| %>
  <% if flash[:errors] %>
  <div id="errorExplanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this sider from being saved:</h2>
    <ul>
    <% flash[:errors].full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <fieldset class='admin_form'>
    <legend>General settings</legend>
    <span class='left_column'>Type:</span>
    <span class='right_column'><%= @sider.sider_type.sider_helper_module %></span>
    <%= f.hidden_field :sider_type_id %>
    <%= f.label :title %><%= f.text_field :title %>
    <%= f.label :sider_position %><%= f.text_field :sider_position %>
    <%= f.label :display_order %><%= f.text_field :display_order %>
    <%= f.label :access_level %><%= f.text_field :access_level %>
    <%= f.label :enabled %><%= f.check_box :enabled %>
  </fieldset>
  <fieldset class='admin_form'>
    <legend>Sider parameters</legend>
    <% @sider_helper_params.each_key do |p| %>
      <%= param_fields p %>
    <% end %>
  </fieldset>
  <%= f.submit %>
<% end %>