<h2><%= t.admin["Manage siders"] %></h2>
<%= link_to t.admin.create_new, new_admin_sider_path %>
<table class="admin_table">
  <tr>
    <th>Id</th>
    <th><%= t.admin.title %></th>
    <th><%= t.admin.position %></th>
    <th><%= t.admin.type %></th>
    <th><%= t.admin.activity %></th>
    <th></th>
    <th></th>
  </tr>  
  <% @siders.each do |sider| %>
  <tr>
    <td><%= sider.id %></td>
    <td><%= sider.title %></td>
    <td><%= sider.sider_position %></td>
    <td><%= sider.sider_type.sider_helper_module %>
        <%= " (disabled)" unless sider.sider_type.enabled %>
    </td>
    <td><%= sider.enabled ? "Enabled. " : "Disabled. " %>
      <%= link_to "Toggle activity.", admin_sider_path(sider, :sider => {:enabled => !sider.enabled}), :method => :put %>
    </td>
    <td><%= link_to "Edit", edit_admin_sider_path(sider) %></td>
    <td><%= link_to "Delete", admin_sider_path(sider), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>