<h2><%= t.admin.select_sider_type %></h2>
<table class="admin_table">
  <tr>
    <th>Id</th>
    <th><%= t.admin.type %></th>
    <th><%= t.admin.description %></th>
    <th></th>
  </tr>  
  <% @sider_types.each do |st| %>
  <tr>
    <td><%= st.id %></td>
    <td><%= st.sider_helper_module %></td>
    <td><%= st.helper.description %></td>
    <td><%= link_to t.admin["Select this type"], new_admin_sider_path(:sider_type_id=>st) %></td>
  </tr>
  <% end %>
</table>