<!DOCTYPE html>
<html>
<head>
  <title>Rock</title>
  <%= stylesheet_link_tag 'layout' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="top">
    <%= sider 'top' %>
  </div>
  <div id="left"><%= sider 'left' %></div>
  <div id="right"><%= sider 'right' %></div>
  <div id="content"><%= yield %></div>
  <div class="clr"></div>
  <div id="bottom"><%= sider 'bottom' %></div>
</body>
</html>
